version: '3.3'
services:



  # backend:
  #   image: umika/backend_final:latest
  #   restart: always
  #   volumes:
  #     - static_value:/backend/static_files/
  #     - media_value:/backend/media/
  #     - ../backend:/backend
  #   depends_on:
  #     - db
  #   env_file:
  #     - ./.env

  frontend:
    build:
      context: ../frontend
      dockerfile: Dockerfile
    volumes:
      - ../frontend/:/app/result_build/

  nginx:
    image: nginx:1.19.3
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      - ../frontend/build:/usr/share/nginx/html/
      - ../docs/:/usr/share/nginx/html/api/docs/
      - static_value:/var/html/staticfiles/
      - media_value:/var/html/media/
#    depends_on:
#      - backend

  db:
    image: postgres:13-alpine
    ports:
      - "5432:5432"     
    volumes:
      - database:/var/lib/postgresql/data/
    env_file:
      - ./.env      

volumes:
  static_value:
  media_value:
  database:
